/* You can add global styles to this file, and also import other style files */
.flex {
    display: flex;
}

.flex-center {
    align-items:center;
    justify-content: center;
}

.margin-bottom {
    margin-bottom: 10px;
}
